<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>****Layout****</title>
</head>
<body>
     <main class="caja-principal">
    <aside>
        <p class=>Zafary</p>
    </header>

    <section class="cont_2">
        <div class="titulo_2">
            <H1 class="texto"
             id="Home"><i 
             class="fas fa-home"></i> Home</H1>
        </div>
        <div class="titulo_2">
            <H1 class="texto" 
            id="WhatZapp"><i 
            class="fab fa-whatzapp"></i> WhatzApp</H1>
        </div>
        <div class="titulo_2">
            <H1 class="texto"
             id="Zpotify"><i 
             class="fab fa-zpotify"></i> Zpotify</H1>
        </div>
    </section>
    <section class="window">
        <iframe class="pos-2" id="din" src="../Home/index.html" frameborder="0"></iframe>
    </section>
    <script src="https://kit.fontawesome.com/d3d4711ed2.js" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
    <script src="./layout.js"></script>
    
</main>
</body>